[package]
name = "linker"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[profile.release]
lto = true
panic = "abort"
strip = true

[dependencies]
embedder = { path = "../embedder" }
