name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
    
      - name: Setup MSVC Dev Environment
        uses: ilammy/msvc-dev-cmd@v1
      
      - name: Install Latest LLVM
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "21.1.6"
      
      - name: Check clang-cl
        run: clang-cl --version
        shell: cmd
      
      - name: Recreate signatures json
        shell: pwsh
        run: |
          $env:SIGNATURES_JSON | Out-File -FilePath "$env:GITHUB_WORKSPACE\signatures.json" -Encoding utf8
        env:
          SIGNATURES_JSON: ${{ secrets.SIGNATURES_JSON }}
      
      - name: Configure
        run: cmake --preset x64-release-clang-cl
      
      - name: Build
        run: cmake --build --preset x64-release-clang-cl
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          body: ${{ github.event.head_commit.message }}
          files: |
            out/build/x64-release-clang-cl/Loom.dll
